.md-typese__table {
     min-width: 100%;
}
 
.md-typeset table:not([class]) {
     display: table;
}

/* Remove site title space */
.md-header__title {
     display: none;
}

/* Push icons (search, GitHub) to the right */
.md-header__inner > .md-header__option:last-child {
  margin-left: auto;
}